// Buttons
.button {
	max-width: 100px;
	padding: 10px 50px;
	color: black;
  margin: 10px auto;
  border-radius: 5px;
	font-size: 1em;
	a {
		text-decoration: none;
		color: black;
	}
}

// Miscellaneous

// Colors
.bg-green {
	background-color: $green
}

.bg-blue {
	background-color: $blue;
}